a {
    color: #000;
}

.text {
    font-size: 12px;
    color: #000;
}

p, h1, h2 {
    font-size: 14px;
    margin: 10px 0;
}

.stuff {
    background-color: #fff;
}
.stuff:hover {
    background-color: #ccc;
}

@media screen {
    .stuff:hover {
        color: #666;
    }
    .stuff:focus {
        color: #666;
    }
    .logo-big {
        width: 40px;
        height: 30px;
    }
}
@media screen and (max-device-width: 1024px) {
    .stuff {
        background-color: #000;
    }
    .logo-big {
        width: 25px;
        height: 25px;
    }
}

.text, .paragraph {
    font-size: 10px;
    margin-left: 20px;
}

.logo {
    width: 10px;
    height: 10px;
}