/* 1 - same selector & same properties */

.r1_text {
  font-size: 12px;
  color: green;
  padding: 15px;
}

.r1_title {
  font-family: Arial;
}

/* 2 - same selector, additional property in first one */

.r2_title {
  text-align: right;
}

.r2_head {
  text-align: center;
}

.r2_title {
  font-style: italic;
}

.r2_title {
  font-size: 12px;
  color: blue;
  padding: 5px;
}